XML3.0-.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Standard_XML_Data">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="lab">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="lab_id">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20" />
                                        <xs:minLength value="1" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="lab_name">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="45" />
                                        <xs:minLength value="1" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="lab_address_line_1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="29" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="lab_address_line_2">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="29" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="lab_city">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="18" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="lab_state">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="2" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="lab_country">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="25" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="lab_postal_code">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="10" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="lab_phone">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="10" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="results">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="sample" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
										<xs:element name="account_number">
											<xs:simpleType>
												<xs:restriction base="xs:int">
													<xs:maxLength value="9" />
													<xs:minLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="account_name">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20" />
													<xs:minLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="sub_account_number">
											<xs:simpleType>
												<xs:restriction base="xs:int">
													<xs:maxLength value="9" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="sub_account_name">
											<xs:simpleType>
												<xs:restriction base="xs:int">
													<xs:maxLength value="20" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="sample_number">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="15" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="farm_id">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="reference_id">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="lot_id">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="sample_revision">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5" />
													<xs:minLength value="0" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="sample_type">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
                                        <xs:element type="xs:date" name="date_published" />
                                        <xs:element type="xs:date" name="date_sampled" />
                                        <xs:element type="xs:date" name="date_received" />
										<xs:element name="description_line_1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="description_line_2">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="25" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="description_line_3">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="25" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
                                        <xs:element name="tests">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="test" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
																<xs:element name="constituent_name">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="25" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="method_id">
																	<xs:simpleType>
																		<xs:restriction base="xs:int">
																			<xs:maxLength value="6" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="method_name">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="25" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="method_type">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="10" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																
                                                                <xs:element type="xs:time" name="time_tested" />
                                                                <xs:element type="xs:date" name="date_tested" />
																<xs:element name="operator">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="2" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="result">
																	<xs:simpleType>
																		<xs:restriction base="xs:decimal">
																			<xs:maxValue value="999999.999" />
																			<xs:minValue value="0.001" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="unit">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="10" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="test_uid">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="100" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="test_comment">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="55" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>